<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="api.key" value="POKPOKPOKPOK"/>
		<!--- 0 - 1 -->
		<add key="enable.proxy" value="0"/>
		<add key="proxy.address" value="http://localhost:3128"/>
		<add key="offence.watchlist.path" value="offencelist.txt"/>
		<add key="processedurls.path" value="processedurllist.txt"/>
		<add key="customsearch.endpoint" value="https://www.googleapis.com/customsearch/v1"/>
		<add key="customsearch.identifier" value="013212718322258083429:lha4khxcshs"/>
	</appSettings>
</configuration>
